
/*css variables*/
:root {
	--spacing: 10px;
	--blur: 5px;
	--base: #8aa8af;
}
/*这里要加上单位*/

img {
	padding: var(--spacing);
	background: var(--base);
	filter: blur(var(--blur));
}

.hl {
	color: var(--base);
}

body {
  	text-align: center;
}

body {
  background: #193549;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 1.5em;
}

.controls {
  margin-bottom: 1em;
}

input {
  width:100px;
}


/*:root {
		  --spacing: 11px;
		  --blur: 5px;
		  --base: #8aa8af;
	  }
	  
	  img {
		  padding: var(--spacing);
		  background: var(--base);
		  filter: blur(var(--blur));
	  }*/
	  
	  

/*	/* /* /*
    body {
      text-align: center;
    }

    body {
      background: #193549;
      color: white;
      font-family: 'helvetica neue', sans-serif;
      font-weight: 100;
      font-size: 1.5em;
    }

    .controls {
      margin-bottom: 1em;
    }

    input {
      width:100px;
    }*/